<nav class="nav-root">
    <div class="brand-block">
        <div class="brand-title">StudyTide Trainer</div>
        <div class="brand-subtitle">MSSA retype practice</div>
    </div>

    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
    <NavLink class="nav-link" href="/topics">Topics</NavLink>
    <NavLink class="nav-link" href="/snippets">Snippets</NavLink>
    <NavLink class="nav-link" href="/practice">Practice</NavLink>
</nav>