## Build output
bin/
obj/
out/

## User-specific files
*.user
*.rsuser
*.suo
*.userprefs
*.sln.docstates

## IDE
.vs/
.idea/
.vscode/

## Logs
*.log

## NuGet
*.nupkg
*.snupkg
packages/

## Test
TestResults/

## Rider
_ReSharper*/
*.DotSettings.user

## Dotnet tooling
.dotnet/

## MAUI generated artifacts
*.aps
*.msix
*.msixupload
*.appx
*.appxupload
*.appxbundle

## Local database files
*.db
*.db-shm
*.db-wal

## OS files
Thumbs.db
Desktop.ini
.DS_Store

## Temp project folders
.tmp-*/
